#logoOverB
{
	animation:spin2 1s infinite ease-in-out;
	font-size:25px;
	background:url(https://pipe.miroware.io/5db9be8a56a97834b159fd5b/beta.png) repeat;
	background-position:0px 0px;
	background-size:100%;
	width:91px;
	height:31px;
}
